body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiAppBar-root {
    width: 100%;
    display: flex;
    z-index: 1100;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
}

header.MuiPaper-root.MuiAppBar-root.MuiAppBar-positionStatic.MuiPaper-elevation4 {
  position: fixed;
}

.Navbar-root-4 {
  padding-bottom: 16vh;
}

nav.MuiPagination-root {
  float: right;
  margin-top: 30px;
}

header.MuiPaper-root.MuiAppBar-root.MuiAppBar-positionStatic.MuiAppBar-colorPrimary.MuiPaper-elevation4 {
  background-color: white;
}

table {
  font-size: small;
}

thead {
  background-color: aliceblue;
  color: grey;
}

.container.grid{
  border: #0000001f solid 1px;
}

td, th {
  padding: 15px 21px;
}

span.new.badge {
  font-weight: 500;
  border-radius: 14px;
}

span.new.badge.failed {
  background-color: #efc6c6;
  color: #880606;
}

span.new.badge.success {
  background-color: #94ce94;
  color: darkgreen;
}

span.new.badge.upcoming {
  background-color: #eac073;
  color: #964311;
}

.filters__calender {
  cursor: pointer;
  float: left;
}

.filters__launches{
  cursor: pointer;
  float: right;
}

.filters {
  margin-bottom: 50px;
  font-weight: 400;
  font-size: medium;
}

nav {
  background-color: white;
}

ul.MuiPagination-ul {
  float: right;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
  box-shadow: none;
}

.loader {
  position: absolute;
  right: 50%;
}

.preloader-wrapper.big {
  width: 64px;
  height: 64px;
  margin-left: 500%;
  margin-top: 90%;
  margin-bottom: 98%;
}

tr.grid__row-data {
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
}

.grid-item.image {
  grid-row: 1 / 4;
}

.MuiListItemText-root {
  padding: inherit;
}

.calendarfilter__parent {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
}

.calendarfilter__calendaroptions {
  cursor: pointer;
}

.calendarfilter__calendaroptions:hover {
  background-color: rgb(168, 163, 157);
}
